.hero-enter {
    opacity: 0;
}

.hero-enter-active {
    opacity: 1;
    transition: opacity 1s ease-in;
}

.hero-exit {
    opacity: 1;
    visibility: visible;
}

.hero-exit-active {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}